@import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  font-weight: normal;
  width: 100%;
  max-width: 1366px;
}

.container {
  /*max-width: 1170px;*/
  padding: 0 15px;
}

.header {
  width: 100%;
  position: fixed;
  height: 80px;
  background: black;
  z-index: 10;
}

.logo {
  float: left;
  margin: 20px 0 0 25px;
  font-family: 'Montserrat', Lobster, cursive;
  color: white;
  font-weight: bold;
}

.header .container {
  float: right;
  display: flex;
  align-items: center;
}
.header .container a {
  top: 30px;
  padding: 10px 10px;
  margin: 20px 5px;
  text-transform: uppercase;
  color: #ddd;
  transition: 0.3s linear;
  border-radius: 4px;
  font-size: 15px;
}
.header .container a:nth-child(4) {
  margin-right: 30px;
}
.header a:hover {
  background: white;
  transform: scale(1.1);
  color: black;
}
.header i {
  margin-right: 5px;
}
.header .menu-toggle-btn {
  float: right;
  height: 90px;
  line-height: 90px !important;
  color: #fff;
  font-size: 26px;
  display: none !important;
}

.main .section1 {
  height: 500px;
  background-image: url("./images/tes2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  text-align: center;
}
.main .section1 .f17 {
  font-size: 50px;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 150px 15px 0px 15px;
  margin-bottom: 50px;
}
.main .section1 .section1-btn {
  margin-top: 50px;
}

.main h1 {
  text-align: center;
}
.main .section2 {
  position: relative;
  overflow: auto;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}
.main .section2 .card-container {
  font-family: Montserrat;
  overflow: hidden;
  width: 300px;
  height: 430px;
  background: #ecf0f1;
  margin: 10px 10px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.main .section2 .card-container .name {
  margin-top: 5px;
  margin-bottom: 10px;
}

.main .section2 .card-container .kota {
  font-size: 15px;
  font-style: italic;
}

.main .section2 .card-container .img-back {
  background: #95a5a6;
}
.main .section2 .card-container img {
  border-radius: 50%;
  width: 200px;
  height: 180px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.main .section2 .card-container .social {
  margin-top: 13px;
}
.main .section2 .card-container .social, .facebook, .twitter, .instagram {
  font-size: 30px;
  color: #2C3A47;
  padding: 0 10px;
}

.card-container-body {
  height: 85%;
}

.card-container-footer {
  height: 15%;
}

.facebook:hover {
  cursor: pointer;
  color: #2980b9;
}

.twitter:hover {
  cursor: pointer;
  color: #3498db;
}

.instagram:hover {
  cursor: pointer;
  color: #8e44ad;
}

.email {
  position: relative;
  margin-top: 30px;
  height: 8.5em;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.email .sub-container h3 {
  color: white;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 7px;
}
.email .sub-container input {
  padding: 13px;
}
.email .sub-btn {
  background: orange;
  margin-top: 41px;
  padding: 15px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 1;
  border-radius: 4px;
  text-align: center;
}

.btn:active {
  position: relative;
  top: 4px;
  box-shadow: none;
}

.btn-default {
  color: black;
  background-color: #bdc3c7;
  box-shadow: 0px 6px #7f8c8d;
}

.btn-wortel {
  color: white;
  background-color: #e67e22;
  box-shadow: 0px 6px #d35400;
}

.btn-spinach {
  color: white;
  background-color: #2ecc71;
  box-shadow: 0px 7px #27ae60;
}

.footer {
  background-color: #95a5a6;
  padding-top: 30px;
  padding-bottom: 20px;
}

.footer p {
  color: #b3aeb5;
  font-size: 12px;
}

.footer .left-logo {
  float: left;
  width: 25%;
}

.footer .left-logo img {
  height: 50px;
}

.footer .right-logo {
  width: 100%; 
  text-align: right;
}

.footer-logo {
  font-family: 'Montserrat', Lobster, cursive;
  color: black;
  font-weight: bold;
}

/* responsive css */
@media (max-width: 1000px) {
  .main .section1 .f17 {
    font-size: 30px;
  }

}

@media (max-width: 670px) {
  .header .menu-toggle-btn {
    margin-right: 5%;
    display: block !important;
  }
  .header .container {
    position: fixed;
    width: 100%;
    max-width: 400px;
    background: #172b4d;
    top: 80px;
    right: 0;
    display: none;
    padding: 20px 40px;
    box-sizing: border-box;
    z-index: 2;
  }
  .header .container a {
    display: block;
    margin: 10px 0;
  }
  .header .container.active {
    display: block;
  }

  .main .section1 .f17 {
    font-size: 25px;
  }

  .email {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center;
  }
  .email .sub-container input {
    font-size: 10px;
    margin-bottom: 7px;
  }
  .email .sub-btn {
    background: orange;
    padding: 15px;
    text-align: center;
    font-size: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 0 0 10px;
  }
}

/*# sourceMappingURL=style.css.map */


/* Bagian CSS Untuk Slider */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
}

.slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slides {
    display: flex;
    width: 50rem;
    overflow: hidden;
}

.slide {
    width: 50rem;
} */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.slider {
    overflow: hidden;
    height: 600px;
}

.slider figure div {
    width: 20%;
    float: left;
}

.slider figure img {
    width: 100%;
    float: left;
}

.slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 40s slidy infinite;
}

@keyframes slidy {
    0% {
        left: 0%
    }

    10% {
        left: 0%;
    }

    12% {
        left: -100%;
    }

    22% {
        left: -100%;
    }

    24% {
        left: -200%;
    }

    34% {
        left: -200%;
    }

    36% {
        left: -300%;
    }

    46% {
        left: -300%;
    }

    48% {
        left: -400%;
    }

    58% {
        left: -400%;
    }

    60% {
        left: -300%;
    }

    70% {
        left: -300%;
    }

    72% {
        left: -200%;
    }

    82% {
        left: -200%;
    }

    84% {
        left: -100%;
    }

    94% {
        left: -100%;
    }

    96% {
        left: 0%;
    }

    100% {
        left: 0%;
    }
}

/* Penutup Bagian CSS Untuk Slider */
